body, .java {
    columns: 2px;
    color: blue;
    text-align: inherit;
}
h1 {
    color: blue;
}
h1:hover {
   color: white;
}
body > ul > li {
    color: red;
}
.button {
    color:blue;
    text-align:inherit;
}
.label {
    columns:2px;
    color:blue;
    text-align:inherit;
}